main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

p, .topic-description {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.4;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.main-home-content {
  height: auto;
  max-width: 800px;
  max-width: 800px;
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 10px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  background-color: #70243c;
  padding: 10px 0;
}

#navbar a {
  color: white;
  font-family: 'Helvetica', sans-serif;
  line-height: 1.4;
  
}

#navbar a:hover {
  color: orange;
}

#navbar>a {
  margin: 0 20px;
  text-decoration: none;
  font-size: 13pt;
}

#app-header {
  font-size: 40pt;
  margin: 0;
  padding: 20px;
  background-color: #101010;
  color: white;
  border-bottom: 1px solid white;
}

header {
  text-align: center;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* ARTICLE CARD */
.article-card {
  font-family: 'Helvetica', sans-serif;
  height: 180px;
  width: 800px;
  max-width: 800px;
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 10px;
  /* box-shadow: 0px 0px 4px; */
  color: black;
}

.article-card :hover {
  color: black;
}

.article-card-img {
  height: 100%;
  float: left;
  border: 1px solid white;
  width: 35%;
}

.article-card-title {
  font-size: 12pt;
  line-height: 1.4;
  font-weight: 900;
  text-align: left;
  ;
}

.article-card-author {
  font-size: 11pt;
}

.article-card-topic {
  font-size: 11pt;
}

.article-card-created {
  font-size: 11pt;
  text-align: left;
}

.article-card-votes {
  font-size: 11pt;
}

.article-card-comment-count {
  font-size: 11pt;
}

.comments-container {
  padding: 0px 16px;
  height: 100%;
}

.link-without-color {
  text-decoration: none;
}

.link-without-color:hover {
  text-decoration: none;
}

.article-card:hover {

  box-shadow: 0px 0px 2px 2px #70243c;
}

/* FULL ARTICLE STYLES */

.article-section {
  max-width: 1080px;
  margin-bottom: 20px;
  background-color: #212121;
  color: white;
}

.full-article-title {
  font-size: 26pt;
  margin: 20px 0;
  padding: 0 20px;
}

.full-article-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.author-date-container {
  font-weight: bold;
  margin: 20px 0;
}

.full-article-topic {
  display: inline-block;
  background: #000;
  font-size: 14pt;
  color: #FFF;
  padding: 6px 10px;
  cursor: pointer;
  margin: 20px 5ox;
  border: 1px solid white;
}

.full-article-votes {
  display: inline-block;
  background: #000;
  font-size: 14pt;
  color: #FFF;
  padding: 6px 10px;
  cursor: pointer;
  margin: 20px 5px;
  border: 1px solid white;
}

.full-article-body {
  font-size: 14pt;
  margin: 40px 0;
  text-align: left;
  padding: 0 50px;
}

/* COMMENTS SECTION STYLES */

.logged-in-user-text {
  color: #70243c;
  text-align: left;
  margin-bottom: 10px;
}

.comment-card {
  padding: 15px 0;
  margin: 20px 20px;
  background-color: #e2f8ff;
}

.comments-section {
  background-color: #f7f7f7;
  padding-bottom: 5px;
  color: black;
  border: 1px solid #eaeaea;
}

.comments-section h2 {
  text-align: left;
  font-size: 20pt;
  padding: 20px 0 0 20px;
  margin-bottom: 0px;
}

.comment-card-body {
  text-align: left;
}

.comment-card-author {
  font-size: 14pt;
  font-weight: bold;
  margin: 15px 0;
}

.comment-card-votes {
  font-weight: bold;
  margin: 10px 0 0 0;
  text-align: left;
}

.vote-buttons {
  display: inline-block;
  padding: 0 10px;
}

/* COMMENT FORM STYLES */

.comment-form {
  padding: 20px 20px 0 20px;
  margin: 0 auto;
}

.comment-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.comment-form button {
  padding: 10px 20px;
  background-color: #70243c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
}

.comment-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.comment-form button:hover {
  background-color: #9c3252;
}

.comment-form p {
  margin-top: 10px;
  color: green;
  text-align: left;
}

.comment-form p.error {
  color: red;
}

.comments-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button-container {
  margin-left: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 16px;
  height: 100%;
}

/* TOPICS CARD */

.topic-card-container a {
  text-decoration: none;
}

.topic-card {
  height: 90px;
  width: 800px;
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 10px;
  color: black;
}

.topic-card:hover {
  box-shadow: 0px 0px 2px 2px #70243c;
}

.topic-name h1 {
  font-size: 16pt;
  font-weight: 600;
  text-transform: uppercase;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
}

.clear-selected-button {
  display: inline-block;
  background: #000;
  border-radius: 2px;
  font-size: 14pt;
  color: #FFF;
  padding: 6px 10px;
  cursor: pointer;
}

.remove-topic-button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
  margin-left: 10px;
}

/* SORTING */

.sort-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.sort-label {
  color: #fff;
  margin-right: 10px;
}

.sort-select {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  padding: 8px;
  margin-right: 10px;
}

.sort-button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
}

.sort-button:hover {
  background-color: #666;
}

/* FOOTER */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}