main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  background-color: #70243c;
  padding: 10px 0;
}

#navbar a {
  color: white;
}

#navbar a:hover {
  color: orange;
}

#navbar>a {
  margin: 0 20px;
  text-decoration: none;
  font-size: 16pt;
}

#app-header {
  font-size: 40pt;
  margin: 0;
  padding: 20px;
  background-color: #101010;
  color: white;
  border-bottom: 1px solid white;
}

header {
  width: 100vw;
  text-align: center;
  border-bottom: 2px solid rgb(0, 0, 0);

}

/* ARTICLE CARD */
.article-card {
  height: 180px;
  width: 800px;
  max-width: 800px;
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 10px;
  /* box-shadow: 0px 0px 4px; */
  color: black;
}

.article-card :hover {
  color: black;
}

.article-card-img {
  height: 100%;
  float: left;
  border: 1px solid white;
  width: 35%;
}

.article-card-title {
  font-size: 14pt;
  font-weight: 600;
  text-align: left;
  ;
}

.article-card-author {
  font-size: 12pt;
}

.article-card-topic {
  font-size: 12pt;
}

.article-card-created {
  font-size: 12pt;
  text-align: left;
}

.article-card-votes {
  font-size: 12pt;
}

.article-card-comment-count {
  font-size: 12pt;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 16px;
  height: 100%;
}

.link-without-color {
  text-decoration: none;
}

.link-without-color:hover {
  text-decoration: none;
}

.article-card:hover {

  box-shadow: 0px 0px 2px 2px #70243c;
}

/* FULL ARTICLE STYLES */

.full-article-title {
  font-size: 30pt;
  margin: 20px 0;
}

.full-article-img {
  width: 100%;
  height: 450px;
  border: 2px solid black;
  object-fit: cover;
}

.author-date-container {
  font-weight: bold;
  margin: 20px 0;
}

.full-article-topic {
  display: inline-block;
  background: #000;
  border-radius: 2px;
  font-size: 14pt;
  color: #FFF;
  padding: 6px 10px;
  cursor: pointer;
  margin: 20px 5ox;
}

.full-article-votes {
  display: inline-block;
  background: #000;
  border-radius: 2px;
  font-size: 14pt;
  color: #FFF;
  padding: 6px 10px;
  cursor: pointer;
  margin: 20px 5px;
}

.full-article-body {
  font-size: 13pt;
  margin: 20px 0;
  text-align: left;
}

/* COMMENTS SECTION STYLES */

.logged-in-user-text {
  color: #70243c;
  text-align: left;
  margin-bottom: 10px;
}

.comment-card {
  padding: 20px 0;
  margin: 20px 20px;
  background-color: #e2f8ff;
}

.comments-section {
  background-color: #f7f7f7;
}

.comments-section h2 {
  text-align: left;
  font-size: 20pt;
  padding: 20px 0 0 20px;
  margin-bottom: 0px;
}

.comment-card-body {
  text-align: left;
}

.comment-card-author {
  font-size: 14pt;
  font-weight: bold;
  margin: 15px 0;
}

.comment-card-votes {
  font-weight: bold;
  margin: 10px 0 0 0;
}

.vote-buttons {
  display: inline-block;
  padding: 0 10px;
}

/* COMMENT FORM STYLES */

.comment-form {
  padding: 20px 20px 0 20px;
  margin: 0 auto;
}

.comment-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.comment-form button {
  padding: 10px 20px;
  background-color: #70243c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.comment-form button:hover {
  background-color: #481726;
}

.comment-form p {
  margin-top: 10px;
  color: green;
  text-align: left;
}

.comment-form p.error {
  color: red;
}
